HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### oauth ###
application-oauth.properties
application-oauth.yaml

### terraform ###
/infra/terraform/.terraform.*
**/.terraform/*
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*gitignore*.tf
*.log
*.bak
.vagrant/

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.DS_Store
.vscode/
.sentinel
.terraformrc
terraform.rc